*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    max-width: 90%;
    width: 1600px;
    padding-top: 100px;
    margin: auto;
}

.buttons{
    text-align: center;
    background-color: red;
}
.buttons span{
    display: inline-block;
    color: white;
    padding: 20px;
    cursor: pointer;
    font-size: 20px;
}
.buttons span.active{
    background-color: gray;
}
.text-item.active{
    display: block;
}
.text-item{
    display: none;
    text-align: center;
    padding: 20px 0px;
    color: black;
}